/* Decided at the end that I wanted a uniform font throughout.
Originally thought different fonts for the header/footer and the main text would looke nice but it did not. */

header {
	text-align: center;
	font-family: sans-serif;
	background-color: black;
	color: white;
	padding: 12px;
}

h2 {
	text-align: center;
	font-size: 39px;
}

/* Properly styling the header and footer to match each other.
Would have grouped them together, but I decided on the stylings separately. */

footer {
	text-align: center;
	font-size: 21px;
	background-color: black;
	font-family: sans-serif;
	height: 102px;
	padding: 48px;
	color: white;
	font-weight: 700;
}

/* Making all the main text centered on the page itself by setting the max-width. */

main {
	font-family: sans-serif;
	margin: auto;
	background-size: cover;
	max-width: 70%;
	font-size: 24px;
}

main > p {
	text-align: justify;
}

/* Giving the line break some more definition. */

hr {
	padding: 3px;
	background-color: black;
	margin-top: 81px;
	margin-bottom: 81px;
}

body {
	background-color: #eee;
}

h1 {
	font-size: 48px;
}

/* Centering and sizing the image. */

.image-container {
	width: 100%;
	display: flex;
	margin: 36px;
	justify-content: center;
}

/* Rounding the corners of the image on the page. */

img {
	border-radius: 15%;
}

/* Pseudo-classes to change the state of the links when the user interacts with it.  */

a:link {
	color: red;
}
a:visited {
	color: blueviolet;
}

a:hover {
	color: green;
}
a:active {
	color: orange;
}
